body {
  background-color: lightblue;
  font-family: "Open Sans", sans-serif;
}

.contenedor {
  margin: auto;
  margin-top: 100px;
  width: 380px;
  height: 170px;
  padding: 20px 20px 70px 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  text-align: center;
}

#temperatura {
  margin: 15px 0px;
}

@media screen and (max-width: 700px) {
  .contenedor {
    width: 70vw;
  }

  h1 {
    font-size: 20px;
  }
}
